* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App,
.post__wrapper {
  width: 800px;
}

.App h1 {
  text-align: center;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post__wrapper {
}

.post__btns {
  display: flex;
}

.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}
.page__block {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.page_button {
  cursor: pointer;
  margin: 0 5px;
  width: 23px;
  height: 23px;
  background-color: cornsilk;
  border: 1px solid #ccc;
}
.page_current {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #000;
  font-weight: bold;
  width: 23px;
  height: 23px;
}

.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;

  padding: 0 15px;
  background-color: #ccc;
}

.navbar__links {
  margin-left: auto;
  flex-wrap: wrap;
}

.navbar__links a {
  margin: 0 10px;
}
